apiVersion: batch/v1
kind: CronJob
metadata:
  name: daily-data-pipeline
spec:
  schedule: "0 2 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: etl
            image: myrepo/data-etl:latest
          restartPolicy: OnFailure
